.Container {
  width: 100%;
  flex: 1;
  padding: 0.5rem;
}

.PatternPath {
  stroke: var(--color-commit-did-not-render-pattern);
  stroke-width: 1;
}

.FixedSizeList {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.FixedSizeList::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
